.App {
  font-family: sans-serif;
  text-align: center;
}

.recharts-default-legend {
  text-align: right !important;
}

.recharts-dot {
  display: none;
}

.recharts-line-curve {
  stroke-width: 3px;
}

.ant-picker-focused,
.ant-picker:hover,
.ant-picker-focused {
  border-color: #ffaaff !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: #ffaaff !important;
  border-radius: 50px !important;
}

.ant-tabs-ink-bar {
  display: none;
}

.ant-picker-range {
  border: none !important;
}

.ant-picker-focused {
  box-shadow: none !important;
}

.recharts-default-tooltip {
  border-radius: 10px !important;
}
